.message {
  color: red;
  margin-top: 0.8rem;
}
.message li {
  margin-top: 0.5rem;
}

.btn--form {
  background-color: rgba(110, 102, 102, 0.422);
  color: grey;
  opacity: 0.8;
}

.elevator {
  /* display: flex; */
  position: fixed;
  top: 300px;
  z-index: 20;
  left: 50%;
  margin-left: 650px;
  transition: all 0.5s;
  opacity: 0;

  font-size: 2.4rem;
  background-color: rgb(0, 0, 0);
  padding: 1.2rem;

  /* border: 1px black solid; */
}
.elevator li {
  margin-top: 1.5rem;
  list-style: none;
}
.elevator li:first-child {
  margin-top: 0;
  list-style: none;
}
.elevator li a {
  text-decoration: none;
  color: rgb(233, 172, 29);
  line-height: 1.3;
}
